@import '../lib/capital_g';

// Colors
$white:           #FFFFFF;
$grey:            #EEEEEE;
$navy:            #304365;
$teal:            #247284;
$brown:           #946206;
$cream:           #FBF8E2;
$salmon:          #E87979;
$maroon:          #A73F52;
$murkyWater:      #0D4754;
$retroGreen:      #3FC7A2;
$blueGrey:        #37809C;
$cloudBlue:       #6EC0D4;

// Component sizing
$font-size-base: 15px;
$font-family-base: Helvetica, Arial, sans;
$font-family-mono: Monaco, monospace;
$line-height-base: 1.5;

html {
  background-color: $murkyWater;
}

body {
  background-color: $teal;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $white;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  margin: 15px 0;
}

h2 {
  font-size: 24px;
  margin: 15px 0;
}

h3 {
  font-size: 18px;
  margin: 15px 0;
}

h4 {
  font-size: 15px;
  margin: 15px 0;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

code {
  display: block;
  margin: 0;
  padding: 10px;
  font-size: $font-size-base;
  background-color: $cream;
  color: $brown;
  overflow: scroll;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.45);
}

pre {
  margin: 0 0 30px;
  padding: 0;
}

hr {
  margin: 45px 0;
  border: 0;
  border-top: 3px solid rgba(255,255,255,0.3);
}

// Components

.Header {
  padding: 15px 0;
  margin-bottom: 45px;
  background-color: $murkyWater;
  border-bottom: 1px solid darken($murkyWater, 8%);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  
  h1 {
    margin: 0;
    @include when-mobile {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .Header-menu {
    text-align: right;
    list-style: none;
    @include when-mobile {
      text-align: center;
    }

    li {
      display: inline;
      line-height: 36px;
      margin-left: 20px;
      @include when-mobile {
        margin: 0 10px;
        line-height: 1;
      }
    }
  }
}

.Footer {
  background-color: $murkyWater;
  padding: 30px 0;
  color: $cloudBlue;

  a {
    color: $white;
  }

  p {
    margin: 0;
  }

  .Footer-menu {
    text-align: right;
    list-style: none;
    @include when-mobile {
      text-align: center;
    }

    li {
      display: inline;
      margin-left: 20px;
      @include when-mobile {
        margin: 0 10px;
        line-height: 1;
      }
    }
  }
}

.Example {
  @include clearfix;
  margin-bottom: 60px;

  &.Example--wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $blueGrey;
    box-shadow: 0 0px 3px rgba(32,79,113,0.8);
  }

  .Example-row {
    white-space: nowrap;
    margin-bottom: 15px;
    @include clearfix;

    & > div {
      background-color: rgba(255,255,255,0.15);
      text-align: center;
      font-weight: bold;
    }
  }

  .Example-item {
    font-family: $font-family-mono;
    @include clearfix;
    background-color: $salmon;
    padding: 10px 0;
    min-height: 32px;
    font-size: 13px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);

    // Nested
    .Example-item {
      background-color: $retroGreen;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .Example-label {
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    float: left;
  }

  &.Example--singleRow {
    .Example-item {
      padding: 50px 0;
    }
  }
}

.or {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.Layout {
  @include g();
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-bottom: 30px;

  h3 {
    margin: 0 0 15px;
  }

  pre {
    margin: 0;
  }

  .Layout-inner {
    @include g-row();
  }

  .Sidebar {
    @include g-col(4);
  }

  .Content {
    @include g-col(8);
  }
}
