// DEMO

@import '../lib/capital_g';

$grey:            #EEEEEE;
$navy:            #304365;
$blueGrey:        #90B1C1;
$blueGrey--light: #DBE2E6;

$font-size-base: 15px;

body {
  font-family: Helvetica, Arial, sans;
  font-size: $font-size-base;
  padding: 30px 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  margin: 15px 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 15px 0;
}

code {
  display: block;
  background-color: $grey;
  font-size: $font-size-base;
  padding: 10px;
  color: $navy;
  margin-bottom: 15px;
}

pre {
  margin: 0;
}

.Example {
  margin-bottom: 30px;

  .Example-row {
    white-space: nowrap;
    margin-bottom: 10px;
    @include clearfix;

    & > div {
      background-color: $grey;
      text-align: center;
      font-weight: bold;
    }
  }

  .Example-item {
    @include clearfix;
    background-color: $blueGrey;
    padding: 10px 0;
    min-height: 32px;
    font-size: 13px;

    .Example-item {
      background-color: darken($blueGrey, 10%);
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  img {
    width: 100%;
    float: left;
  }
}
